<div class="it-header-slim-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content">
          <a class="d-none d-lg-block navbar-brand" href="https://gabrieljones.it">Gabriel Jones</a>
          <a class="d-none d-lg-block navbar-brand" href="https://upid.it">UPID</a>
          <div class="header-slim-right-zone">
<div class="it-header-slim-right-zone">
  <div class="nav-item d-flex">
    <!----><!---->
    <app-header-profile class="ng-star-inserted">
      <a class="btn btn-regione btn-icon btn-full ng-star-inserted" href="https://gabrielsystem.altervista.org>
        <span class="rounded-icon ng-star-inserted">
          <svg aria-label="utente" class="icon icon-primary">
            <use xlink:href="/assets/bootstrap-italia/dist/svg/sprite.svg#it-user"></use>
          </svg>
        </span>
        <span class="d-none d-lg-block ng-star-inserted">
          Accesso del personale autorizzato
        </span>
        <!----><!----><!---->
      </a>
    </app-header-profile>
    <!---->
  </div>
</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
